@model IEnumerable<EmployeeManagementApp.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form asp-controller="Employees" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" name="SearchString" class="form-control" placeholder="Search by Name...">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(Model => Model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfJoining)
            </th>
            <th>
                Profile
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfJoining)
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ProfilePicture))
                    {
                        <img src="~/images/@item.ProfilePicture"
                             width="50" height="50" class="rounded-circle"
                             style="object-fit: cover;" />
                    }
                    else
                    {
                        <img src="~/images/default.png"
                             width="50" height="50" class="rounded-circle"
                             style="object-fit: cover;" />
                    }
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
